.mat-toolbar {
    height: 5vw;
    background-color:rgba(25, 37, 78, 0.6); 

    .spacer {
        flex: 1 1 auto;
      }

      .img-logo {
        font-size: 4vw;
        height: 4vw ;
        width: 4vw;
      }

      .title {
          font-size: 1.5vw;
      }

      .mat-icon{
          cursor: pointer;
          font-size: 2.5vw;
          height: 2.5vw ;
          width: 2.5vw;
          margin: 1vw;
      }
}