<app-navbar title={{navbarTitle}}></app-navbar>

<mat-sidenav-container>
<mat-sidenav [(opened)]='sidenav_opened' #sidenav mode="side">
    <img (click) = "sidenav_opened = !sidenav_opened" id="sidenav-btn" src="/assets/images/admin_panel/menu.svg" >    
    <mat-nav-list>
        <h1>Mizu</h1>   
        <ul>
            <input [(ngModel)]="searchText" type="text" placeholder="Search" id="search">
            <li><a routerLink=""><img src="/assets/images/admin_panel/school.svg" >Schools</a></li>
            <li><a routerLink="students"><img src="/assets/images/admin_panel/student.svg" >Students</a></li>
            <li><a routerLink=""><img src="/assets/images/admin_panel/employee.svg" >Employees</a></li>
            <li><a routerLink=""><img src="/assets/images/admin_panel/chart.svg" >Analyses</a></li>
        </ul>
    </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
    <div class="row">
        <div class="col-1">
            <img *ngIf="!sidenav_opened" (click) = "sidenav_opened = !sidenav_opened" id="sidenav-btn" src="/assets/images/admin_panel/menu.svg" >    
        </div>
        <div class="col-2"><router-outlet></router-outlet></div>
    </div>   
</mat-sidenav-content>
</mat-sidenav-container>