<div class="container mat-elevation-z24">
    <h1>Password</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <hr>
        <div class="row">
            <div class="column left">
                <label for="newPassword">
                    New Password:
                </label>
            </div>
            <div class="column right">
                <input id="newPassword" placeholder="Enter password" [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
                <mat-icon id="visibility" (click) = "hidePassword = !hidePassword">visibility_off</mat-icon> 
            </div>               
        </div>
        <hr>
        <div class="row">
            <div class="column left">
                <label for="confirmPassword">
                    Confirm:
                </label>
            </div>
            <div class="column right">
                <input id="confirmPassword" placeholder="Confirm password" [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword">
            </div>               
        </div>
        <hr>
        <div class="flex-box">
            <button class="btn btn-primary" type="submit">Change</button>
        </div>    
    </form>
    <hr>
</div>
