
<div class="global">
    <section class="background">
    </section>
    <div class="main-container">
        <div class="row">
            <div class="left-item">
                <h1>Welcome!</h1>
                <div class="text">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</div>
                <a class="btn btn-primary" href="#" role="button">Read More</a>
            </div>
            <div class="right-item">
                <div class="sign-in">
                    <h1>Sign in</h1>
                    <form [formGroup]="loginForm">                              
                        <div class="container">
                          <label for="uname">username</label>
                          <input type="text"  name="uname" formControlName="username" required>
                      
                          <label for="psw">password</label>
                          <input type="password"  name="psw" formControlName="password" required><br>
                        <div class="rememberLog">
                          <input type="checkbox" id="rememberLog" name="nlogout" formControlName="notlogout">
                          <label for="rememberLog">Remember login</label>
                        </div>
                          <button class="btn btn-primary submit-button" (click)="onSubmit()">Submit</button>                          
                        </div>                                        
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>


