
<div class="global">
    <section class="background">
    </section>
    <div class="main-container">
        <div class="row">
            <div class="col-4">
                <h1>Welcome!</h1>
                <div class="text">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</div>
                <a class="btn btn-primary" href="#" role="button">Read More</a>
            </div>
            <div class="col-5">
                <div class="sign-in">
                    <h1>Sign In</h1>

                    <form [formGroup]="loginForm">                              
                        <div class="container">
                          <label for="uname">username</label>
                          <input type="text"  name="uname" formControlName="username" required>
                      
                          <label for="psw">password</label>
                          <input type="password"  name="psw" formControlName="password" required>                            
                          <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
                        </div>                                           
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>


