<div class="global">
  <section class="background"></section>
  <div class="main-container-register">
    <div class="register-container">
      <form class="register-form" [formGroup]="registerForm">
        <div class="register-form-left">
          <label class="mizu-label" for="fn">First Name</label>
          <input
            class="mizu-input"
            type="text"
            name="fn"
            required
            formControlName="firstName"
          />
          <label class="mizu-label" for="sn">Last Name</label>
          <input
            class="mizu-input"
            type="text"
            name="sn"
            required
            formControlName="lastName"
          />
          <div class="mizu-datepicker">
            <mat-form-field>
              <mat-label>Birthday Date</mat-label>
              <input
                matInput
                [matDatepicker]="birthdate"
                formControlName="birthdate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="birthdate"
              ></mat-datepicker-toggle>
              <mat-datepicker #birthdate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="mizu-selector">
            <mat-form-field appearance="fill">
              <mat-label>Group Select</mat-label>
              <mat-select formControlName="userGroup">
                <mat-option *ngFor="let group of groups" [value]="group.value">
                  {{ group.value.toLowerCase() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="register-form-right">
          <label class="mizu-label" for="em">email</label>
          <input
            class="mizu-input"
            type="email"
            name="em"
            required
            formControlName="email"
          />
          <label class="mizu-label" for="emc">confirm email</label>
          <input
            class="mizu-input"
            type="email"
            name="emc"
            required
            formControlName="confirm_email"
          />
          <label class="mizu-label" for="pass">password</label>
          <input
            class="mizu-input"
            type="password"
            name="pass"
            required
            formControlName="password"
          />
          <label class="mizu-label" for="passc">confirm password</label>
          <input
            class="mizu-input"
            type="password"
            name="passc"
            required
            formControlName="confirm_password"
          />
        </div>
      </form>
      <div class="register-button-container">
        <button
          class="btn btn-primary submit-button"
          type="submit"
          (click)="close()"
        >
          Cancel
        </button>
        <button
          class="btn btn-primary submit-button"
          type="button"
          (click)="onSubmitRegister()"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>