.btn-primary {
  margin-top: 4em;
  color: white;
  background-color: #19254e;
  border-color: #19254e;
}
.btn-primary:hover {
  background-color: #293868 !important;
}

.global {
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    //SVG wont load
    // background: url(../../../../assets/images/background.svg);
    background: url(../../../../assets/images/background.jpg);
    background-size: cover;
    filter: brightness(0.7);
  }
}

.main-container {
  border: 1px;
  border-style: solid;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 92%;
  height: 80vh;
  //SVG wont load
  // background: url(../../../../assets/images/background.svg);
  background: url(../../../../assets/images/background.jpg);
  background-size: cover;
  box-shadow: 0px 4px 4px 20px rgba(0, 0, 0, 0.25);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;

  .left-item {
    margin-left: 5vh;
    margin-top: 5vh;
    flex: 60%;
    align-self: flex-start;
    h1 {
      font-size: 7em;
      font-weight: bold;
      color: white;
    }
    .text {
      margin-top: 2%;
      color: white;
    }
  }

  .right-item {
    flex: 25%;
    margin-right: 2%;
    margin-top: 5vh;
    align-self: flex-end;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    h1 {
      color: white;
    }
    form {
      align-self: center;
      margin-top: 4em;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    display: table;
    table-layout: fixed;

    .rememberLog {
      label {
        display: table-cell;
        overflow: hidden;
      }
    }
  }
}

.rememberLog {
  display: flex;
  flex-direction: column-reverse;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  h1 {
    margin-top: 1em;
    align-self: center;
  }

  form {
    .submit-button {
      align-self: center;
      background-color: #19254e;
      border-color: #19254e;
      color: white;
      border-radius: 20px;
      width: 10em;
    }
  }
}

.main-container-register {
  border: 1px;
  border-style: solid;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 92%;
  height: 80vh;
  //SVG wont load
  background: url(../../../../assets/images/background.jpg);
  background-size: cover;
  box-shadow: 0px 4px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  .register-container {
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    background-position: center;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}

.register-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.register-form-left {
  display: flex;
  flex-direction: column;
  margin: 2vh;
}

.register-form-right {
  margin: 2vh;
  display: flex;
  flex-direction: column;
}

.register-button-container {
  margin: auto;

  button {
    margin-left: 2vh;
  }
}

.container {

  mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgba(36, 16, 73, 0.4);
    border-radius: 5px;
  }
  ::ng-deep .mat-form-field-infix {
    top: -7px;
  }
}
