<div class="container mat-elevation-z24">
    <div class="cardStyle">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <h1>Password</h1>
            <div class="inputDiv">
                <label class="inputLabel" for="currentPassword">Current Password</label>
                <input [type]="hidePassword ? 'password' : 'text'" id="currentPassword"
                    formControlName="currentPassword">
                <mat-icon id="visibility" (click)="hidePassword = !hidePassword">visibility_off</mat-icon>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="newPassword">New Password</label>
                <input [type]="hidePassword ? 'password' : 'text'" id="newPassword" formControlName="newPassword">
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input [type]="hidePassword ? 'password' : 'text'" id="confirmPassword"
                    formControlName="confirmPassword">
            </div>
            <div class="flex-box">
                <button class="btn btn-primary" type="submit">Change</button>
            </div>
        </form>
    </div>
</div>