<div class="container mat-elevation-z24">
    <div class="cardStyle">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <h1>{{'password' | translate}}</h1>
            <div class="inputDiv">
                <div class="wrap-visibility">
                    <label class="inputLabel" for="currentPassword">{{'current_password' | translate}}</label>
                    <mat-icon id="visibility" (click)="hidePassword = !hidePassword">visibility_off</mat-icon>
                </div>
                <input [type]="hidePassword ? 'password' : 'text'" id="currentPassword"
                    formControlName="currentPassword">
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="newPassword">{{'new_password' | translate}}</label>
                <input [type]="hidePassword ? 'password' : 'text'" id="newPassword" formControlName="newPassword">
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">{{'confirm_password' | translate}}</label>
                <input [type]="hidePassword ? 'password' : 'text'" id="confirmPassword"
                    formControlName="confirmPassword">
            </div>
            <div class="flex-box">
                <button class="btn btn-primary" type="submit">{{'change' | translate}}</button>
            </div>
        </form>
    </div>
</div>