.container {
    margin-top: 3vh;
    padding: 0;
    width: 80%;
    text-align: center;
    background-color: white;
    border-radius: 0.7em;

    h1 {
        margin-top: 1vw;
        font-size: 2.5vw;
    }

    input, textarea  {
        font-size: 1vw;
    }

    .row {
        align-items: center;
        justify-content: center;
    }

    .form-group {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    input {
        border-radius: 0.5em;
    }

    .btn {
        font-size: 1.5vw;
        margin-right: 1vw;
        color: white;
        background-color: #627dd4;
        border-color: #627dd4;
    }
    .btn:hover {
        background-color: #6a7394 !important;
    }
}