<div class="container mat-elevation-z24">
    <div class="cardStyle">
        <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
            <h1>Contact Us</h1>
            <div class="inputDiv">
                <label class="inputLabel">Your Name</label>
                <input type="text" disabled placeholder='{{user.firstName}} {{user.lastName}}'>
            </div>
            <div class="inputDiv">
                <label class="inputLabel">Your Email</label>
                <input type="email" disabled placeholder='{{user.email}}' >
            </div>
            <div class="inputDiv">
                <label class="inputLabel">Subject</label>
                <input type="text" formControlName="subject" placeholder="Subject">
            </div>
            <div class="inputDiv">
                <label class="inputLabel">Message</label>
                <textarea formControlName="message" cols="30" rows="3"
                placeholder="Message"></textarea>
            </div>
            <div class="flex-box">
                <button class="btn btn-primary" type="submit">Change</button>
            </div>
        </form>
    </div>
</div>