<div class="container mat-elevation-z24">
    <div class="cardStyle">
        <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
            <h1>{{'contact_us' | translate}}</h1>
            <div class="inputDiv">
                <label class="inputLabel">{{'your_name' | translate}}</label>
                <input type="text" disabled placeholder='{{user.firstName}} {{user.lastName}}'>
            </div>
            <div class="inputDiv">
                <label class="inputLabel">{{'your_email' | translate}}</label>
                <input type="email" disabled placeholder='{{user.email}}' >
            </div>
            <div class="inputDiv">
                <label class="inputLabel">{{'subject' | translate}}</label>
                <input type="text" formControlName="subject">
            </div>
            <div class="inputDiv">
                <label class="inputLabel">{{'message' | translate}}</label>
                <textarea formControlName="message" cols="30" rows="3"></textarea>
            </div>
            <div class="flex-box">
                <button class="btn btn-primary" type="submit">{{'send' | translate}}</button>
            </div>
        </form>
    </div>
</div>