<div class="container mat-elevation-z24">
    <div class="contact-wrap w-100 p-md-3 p-4">
        <h1 class="mb-4">Get in touch</h1>
        <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled placeholder='{{user.firstName}} {{user.lastName}}'>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="email" class="form-control" disabled placeholder='{{user.email}}' >
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea name="message" class="form-control" formControlName="message" cols="30" rows="5"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>