<div class="container mat-elevation-z24">
    <h1>User Information</h1>
    <hr>
    <div class="inner-container">
        <div class="static-text">Name:</div>
        <div class="dynamic-text">{{user.firstName}} {{user.lastName}}</div>
    </div>
    <hr>
    <div class="inner-container">
        <div class="static-text">Email:</div>
        <div class="dynamic-text">{{user.email}}</div>
    </div>
    <hr>
    <div class="inner-container">
        <div class="static-text">Birthdate:</div>
        <div class="dynamic-text">{{user.birthdate}}</div>
    </div>
    <hr>
    <div class="inner-container">
        <div class="static-text">Index:</div>
        <div class="dynamic-text">{{user.index}}</div>
    </div>
    <hr>
    <div class="inner-container">
        <div class="static-text">User Group:</div>
        <div class="dynamic-text">{{user.userGroup}}</div>
    </div>
    <hr>
</div>
