<div class="container mat-elevation-z24">
    <div class="cardStyle">
        <form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
            <h1>{{'user_preferences' | translate}}</h1>
            <div class="inputDiv">
                <label class="inputLabel">{{'language' | translate}}</label>
                <mat-form-field>
                    <mat-select formControlName="language">
                        <mat-option *ngFor="let language of languages" [value]="language.value">
                            {{language.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="inputDiv">
                <label class="inputLabel">{{'date_format' | translate}}</label>
                <mat-form-field>
                    <mat-select formControlName="dateFormat">
                        <mat-option *ngFor="let format of dateFormats" [value]="format.value">
                            {{format.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex-box">
                <button class="btn btn-primary" type="submit">{{'change' | translate}}</button>
            </div>
        </form>
    </div>
</div>