<div class="global">
    <div class="column">
        <nav class="navbar">
            <img class="logo" src="../../../assets/images/Logo.png" alt="logo">
            <p>Strona Główna</p>
            <img class="frameUser" src="../../../assets/images/Frame_User.png">
            <img class="frameExit" src="../../../assets/images/Frame_Exit.png">
        </nav>

        <div class="main-container">
            <div class="column-subject">
                <h4 class="title" id="h4-subjects">Subjects</h4>
                <ul class="tiles tiles-subjects">
                    <li *ngFor="let subject of subjects" class="tile-case">
                        <button>
                            <div class="tile-primary-content">
                                <img src="{{subject.srcBc}}">
                            </div>
                            <div class="tile-secondary-content">
                                <p>{{subject.sub}}</p>
                            </div>
                        </button>
                    </li>
                    <li class="tile-case">
                        <button (click)="addSubject()">
                            <div class="tile-primary-content">
                                <div class="v1"></div>
                                <div class="h1"></div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>

            <div  class="row-news">
                <div class="news-title">
                    <p>News</p>
                </div>
                <div class="news-news"></div>
            </div>
            <div class="column-school">
                <h4 class="title" id="h4-schools">Schools</h4>
                <ul class="tiles tiles-schools">
                    <li *ngFor="let school of schools" class="tile-case">
                        <button>
                            <div class="tile-primary-content">
                                <img src="{{school.srcImage}}">
                            </div>
                            <div class="tile-secondary-content">
                                <h2>{{school.studies}}</h2>
                                <p>{{school.city}}</p>
                            </div>
                        </button>
                    </li>
                    <li class="tile-case">
                        <button (click)="addSchool()">
                            <div class="tile-primary-content">
                                    <div class="v1"></div>
                                    <div class="h1"></div>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>