<app-navbar title={{navbarTitle}}></app-navbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]='sidenav_opened' #sidenav mode="side">
        <mat-icon (click) = "sidenav_opened = !sidenav_opened" class="hamburger">menu</mat-icon>  
        <mat-nav-list>   
            <ul>
                <li><a routerLinkActive="active" routerLink="information"><mat-icon>info</mat-icon>User Information</a></li>
                <li><a routerLinkActive="active" routerLink="preferences"><mat-icon>manage_account</mat-icon>User Preferences</a></li>
                <li><a routerLinkActive="active" routerLink="email"><mat-icon>email</mat-icon>Email</a></li>
                <li><a routerLinkActive="active" routerLink="password"><mat-icon>password</mat-icon>Password</a></li>
                <li><a routerLinkActive="active" routerLink="help"><mat-icon>help</mat-icon>Help</a></li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="row">
            <div class="col-1">
                <mat-icon *ngIf="!sidenav_opened" (click) = "sidenav_opened = !sidenav_opened" class="hamburger">menu</mat-icon>     
            </div>
            <div class="col-2 mx-auto"><router-outlet></router-outlet></div>
        </div>   
    </mat-sidenav-content>
    </mat-sidenav-container>