<div class="container mat-elevation-z24">
    <h1>Help</h1>
    <hr>
    <form [formGroup]="helpForm" (ngSubmit)="onSubmit()">
        <div class="row">
                <div class="form-group">
                    <label for="email">Your Email:</label>
                    <a id="email">agrest321@go2.pl</a>
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name:</label>
                    <a id="fullname">Grzegorz Dudek</a>
                </div>
                <div class="form-group">
                    <label for="comment">Enter Message:</label>
                    <textarea class="form-control" formControlName="message" name="message"></textarea>
                </div>            
            </div>
            <hr>
        <div class="flex-box">
            <button class="btn btn-primary" type="submit">Change</button>
        </div>
        <hr>
    </form>
</div>